# version: '3.8'

version: '3.8'
services:
  product-service:
    build: ./apps/product-service
    expose:
      - "3000"
    depends_on:
      - product-db
    env_file: ./product-service/.env
    networks:
      - micro-net
  dealer-service-coordination:
    build: ./apps/dealer-service-coordination
    ports:
    - "3001:3001" 
    environment:
      - SUPABASE_URL=http://host.docker.internal:54321
      - SUPABASE_SERVICE_ROLE_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
      - SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
      - DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:54322/postgres
      - PORT=3001
    depends_on:
      - product-db
    networks:
      - internal


  api-gateway:
    build: ./apps/ev-dealer-api-gateway
      context:              
      dockerfile: apps/ev-dealer-api-gateway/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PRODUCT_SERVICE_URL=http://product-service:3002
      - DEALER_SERVICE_URL=http://dealer-service-coordination:3001
    depends_on:
      - product-service
      - dealer-service-coordination
    networks:
      - micro-net
networks:
  micro-net:
    driver: bridge
