version: '3.8'

services:
  product-service:
    build: ./apps/product-service
    ports:
      - "3002:3002"
    environment:
      - DATABASE_URL=postgres://postgres:YzkwNWJmZTAtNjQ4YS00ZTQzLWFiZjQt@product-db:5432/postgres
    depends_on:
      - product-db

  dealer-service-coordination:
    build: ./apps/dealer-service-coordination
    ports:
    - "3001:3001" 
    environment:
      - SUPABASE_URL=http://host.docker.internal:54321
      - SUPABASE_SERVICE_ROLE_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
      - SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
      - DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:54322/postgres
      - PORT=3001
    depends_on:
      - product-db
    networks:
      - internal

  product-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: YzkwNWJmZTAtNjQ4YS00ZTQzLWFiZjQt
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  api-gateway:
    build:
      context: .
      dockerfile: apps/ev-dealer-api-gateway/Dockerfile
    ports:
      - '4000:4000'
    environment:
      - PRODUCT_SERVICE_URL=http://product-service:3002
      - DEALER_SERVICE_URL=http://dealer-service-coordination:3001
    depends_on:
      - auth
      - users
  users:
    build:
      context: .
      dockerfile: apps/users/Dockerfile
    ports:
      - '4200:4200'
    environment:
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI

  auth:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    ports:
      - '4100:4100'
    environment:
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI

networks:
  micro-net:
    driver: bridge
