version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: apps/ev-dealer-api-gateway/Dockerfile
    ports:
      - '4000:4000'
    environment:
      - USERS_SERVICE_URL=http://users:4200
      - AUTH_SERVICE_URL=http://auth:4100
    depends_on:
      - auth
      - users




  evm-staff-coordination-service:
    image: evm-staff-coordination-service:latest
    depends_on:
      - rabbitmq 
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI
    ports:
      - "3002:3002"
    networks:
      - internal

  dealer-coordination-service:
    image: dealer-coordination-service:latest
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI
    ports:
      - "3001:3001"
    networks:
      - internal


  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - internal



  users:
    build:
      context: .
      dockerfile: apps/users/Dockerfile
    ports:
      - '4200:4200'
    environment:
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI

  auth:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    ports:
      - '4100:4100'
    environment:
      - SUPABASE_URL=https://iaucwkjbbrzxuayvecjw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODg4MjAsImV4cCI6MjA3NzY2NDgyMH0.VogEJZeLubwtayzAX8Dy79xR_5QeOYnx0JFHd2FZuBg
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhdWN3a2piYnJ6eHVheXZlY2p3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA4ODgyMCwiZXhwIjoyMDc3NjY0ODIwfQ.OVEmaiCHFqcb3F9rhga3PtYb1C5EKxjgDOFRIWAucsI

networks:
  internal:
    driver: bridge
